In [1]:
print("In the name of Allah")

In the name of Allah

In [2]:
pop = [30.55, 2.77, 39.21]
countries = ["Afganistan", "Albania", "Algeria"]

ind_alb = countries.index("Albania")
ind_alb

1

In [3]:
pop[ind_alb]

2.77

In [4]:
world = { "Afganistan" : 30.55, "Albania" : 2.77, "Algeria" : 39.21 }

In [5]:
world["Albania"]

2.77

In [6]:
world = { "Afganistan" : 30.55, "Albania" : 2.77, "Algeria" : 39.21, 
         "Albania" : 2.81 }

In [7]:
world

{'Afganistan': 30.55, 'Albania': 2.81, 'Algeria': 39.21}

In [8]:
world["Sealand"] = 0.000027
world

{'Afganistan': 30.55, 'Albania': 2.81, 'Algeria': 39.21, 'Sealand': 2.7e-05}

In [9]:
"Sealand" in world

True

In [10]:
world["Sealand"] = 0.000028
world

{'Afganistan': 30.55, 'Albania': 2.81, 'Algeria': 39.21, 'Sealand': 2.8e-05}

In [11]:
del(world["Sealand"])
world

{'Afganistan': 30.55, 'Albania': 2.81, 'Algeria': 39.21}

You are given a dictionary called europe that stores country–capital pairs.

europe = {
    'spain': 'madrid',
    'france': 'paris',
    'germany': 'berlin',
    'norway': 'oslo'
}


Perform the following tasks:

Add the key 'italy' with the value 'rome' to the dictionary.

Print whether 'italy' is a key in europe.

Add another key-value pair where 'poland' is the key and 'warsaw' is the value.

Print the final dictionary.

In [12]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe["italy"] = 'rome'

# Print out italy in europe
print("italy" in europe)

# Add poland to europe
europe["poland"] = 'warsaw'

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

❓ Question

An existing dictionary named europe contains some incorrect entries.
You are not allowed to change the dictionary definition directly.

europe = {
    'spain': 'madrid',
    'france': 'paris',
    'germany': 'bonn',
    'norway': 'oslo',
    'italy': 'rome',
    'poland': 'warsaw',
    'australia': 'vienna'
}


Fix the dictionary by completing the following tasks:

Update Germany’s capital from 'bonn' to 'berlin'.

Remove 'australia' from the dictionary (Austria is in Europe, Australia is not).

Print the cleaned dictionary.

In [13]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

❓ Question

Dictionaries can store other dictionaries as values. In this exercise, each country in the europe dictionary maps to another dictionary containing information about that country.

europe = {
    'spain':   {'capital': 'madrid', 'population': 46.77},
    'france':  {'capital': 'paris',  'population': 66.03},
    'germany': {'capital': 'berlin', 'population': 80.62},
    'norway':  {'capital': 'oslo',   'population': 5.084}
}


Complete the following tasks:

Use chained square brackets to print the capital of France.

Create a dictionary called data with:

key 'capital' set to 'rome'

key 'population' set to 59.83

Add this data dictionary to europe under the key 'italy'.

Print the updated europe dictionary.

In [14]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = { 'capital' : 'rome', 'population' : 59.83 }

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

In [15]:
import pandas as pd
dict = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98]
}

brics = pd.DataFrame(dict)

In [16]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [17]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

❓ Question

Dictionaries can store lists as values. In this exercise, each country has information about whether people drive on the right and the number of cars per capita.

# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Instructions:

# 1. Create a dictionary called my_dict with keys: 'country', 'drives_right', 'cars_per_cap'
# 2. Convert my_dict into a pandas DataFrame called cars
# 3. Print the cars DataFrame

In [18]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {
    'country': names,
    'drives_right': dr,
    'cars_per_cap': cpc
}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

❓ Question

Row labels (indices) of a pandas DataFrame are automatically set to integers. You can customize them using a list of labels.

In [19]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [20]:
import pandas as pd

# Create the data
data = {
    "cars_per_cap": [809, 731, 588, 18, 200, 70, 45],
    "country": ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'],
    "drives_right": [True, False, False, False, True, True, True]
}

# Create row labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Create DataFrame
cars = pd.DataFrame(data, index=row_labels)

# Save as CSV
cars.to_csv('cars.csv')

# Confirm by reading it back
cars_loaded = pd.read_csv('cars.csv', index_col=0)
print(cars_loaded)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [21]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [23]:
type(brics["country"])

pandas.core.series.Series

In [24]:
brics[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [25]:
type(brics[["country"]])

pandas.core.frame.DataFrame

In [26]:
brics[["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [27]:
brics = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.100, 3.286, 9.597, 1.221],
    "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]
}
row_lebels = ["BR", "RU", "IN", "CH", "SA"]
brics = pd.DataFrame(brics, index = row_lebels)
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [33]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [34]:
brics.loc["RU"]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [35]:
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [37]:
brics.loc[["RU","CH","SA"]]

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
CH         China   Beijing   9.597     1357.00
SA  South Africa  Pretoria   1.221       52.98

In [43]:
brics.loc[["RU","CH","SA"], ["country", "capital"]]

         country   capital
RU        Russia    Moscow
CH         China   Beijing
SA  South Africa  Pretoria

In [45]:
brics.loc[:,["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [46]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [49]:
brics.iloc[[1,2,4]]

         country    capital    area  population
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
SA  South Africa   Pretoria   1.221       52.98

In [50]:
brics.iloc[[1,2,4],[0,1]]

         country    capital
RU        Russia     Moscow
IN         India  New Delhi
SA  South Africa   Pretoria

In [55]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [53]:
brics.iloc[:,[0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

❓ Question
Square Brackets (1)

In Pandas, you can select columns from a DataFrame using square brackets.
Using single square brackets returns a Pandas Series, while double square brackets return a Pandas DataFrame.

Assume the cars DataFrame has already been imported and looks like this:

import pandas as pd

cars = pd.read_csv('cars.csv')


The DataFrame contains the following columns:

country

cars_per_cap

drives_right

In [58]:
# Import cars data
import pandas as pd
cars = pd.DataFrame({
    'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'],
    'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
    'drives_right': [True, False, False, False, True, True, True]
})

print(cars)

         country  cars_per_cap  drives_right
0  United States           809          True
1      Australia           731         False
2          Japan           588         False
3          India            18         False
4         Russia           200          True
5        Morocco            70          True
6          Egypt            45          True

In [59]:

cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars["country"])

# Print out country column as Pandas DataFrame
print(cars[["country"]])

# Print out DataFrame with country and drives_right columns
print(cars[["country","drives_right"]])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

❓ Question
Square Brackets (Practice)

You can use square brackets to select both columns and rows from a Pandas DataFrame.
Selecting a column with single square brackets returns a Series, while double square brackets return a DataFrame.
You can also select rows by providing a slice inside the square brackets.

The cars DataFrame has already been imported and looks like this:

import pandas as pd
cars = pd.read_csv('cars.csv', index_col=0)


The DataFrame contains the following columns:

country

cars_per_cap

drives_right

In [60]:
# 1. Print cars_per_cap column as Pandas Series
print(cars['cars_per_cap'])

# 2. Print country and cars_per_cap columns as Pandas DataFrame
print(cars[['country', 'cars_per_cap']])

# 3. Select the first 4 observations
print(cars[0:4])

# 4. Select the last 3 observations
print(cars[-3:])

US     809
AUS    731
JPN    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64
           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45
     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
     cars_per_cap  country  drives_right
RU            200   Russia          True
MOR            70  Morocco          True
EG             45    Egypt          True

❓ loc and iloc (1)

With loc and iloc, you can select specific rows and columns at the same time.

loc → label-based selection

iloc → integer position-based selection

The cars DataFrame has already been imported:

import pandas as pd
cars = pd.read_csv('cars.csv', index_col=0)


The DataFrame contains:

country

cars_per_cap

drives_right

Row labels:
US, AUS, JPN, IN, RU, MOR, EG

In [61]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)
# Print out observation for Japan
print(cars.loc["JPN"])

# Print out observations for Australia and Egypt
print(cars.loc[["AUS","EG"]])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True
cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

❓ loc and iloc (2)

With loc and iloc, you can select specific rows and columns, multiple rows/columns, or even a single value.

The cars DataFrame has already been imported:

import pandas as pd
cars = pd.read_csv('cars.csv', index_col=0)


The DataFrame contains:

country

cars_per_cap

drives_right

Row labels: US, AUS, JPN, IN, RU, MOR, EG

In [62]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)
# Print out drives_right value of Morocco
print(cars.loc["MOR","drives_right"])

# Print sub-DataFrame
print(cars.loc[["RU","MOR"],["country","drives_right"]])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True
True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

❓ loc and iloc (3)

With loc and iloc, you can select specific columns, multiple columns, or all rows for certain columns.

The cars DataFrame has already been imported:

import pandas as pd
cars = pd.read_csv('cars.csv', index_col=0)


The DataFrame contains:

country

cars_per_cap

drives_right

📝 Instructions

100 XP

Use loc or iloc to print the drives_right column as a Series.

Use loc or iloc to print the drives_right column as a DataFrame.

Use loc or iloc to print both the cars_per_cap and drives_right columns as a DataFrame.

In [63]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)
# Print out drives_right column as Series
print(cars.iloc[:, 2])

# Print out drives_right column as DataFrame
print(cars.iloc[:,[2]])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.iloc[:,[0,2]])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True
US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True